In [154]:
import pandas as pd
import numpy as np

df = pd.read_csv('xxxmalaria-prevalence-vs-gdp-per-capita.csv')
cases = 'Malaria cases/100,000 pop. - wef_cm'

In [155]:
years = np.arange(2005, 2017)
len(years)

12

In [161]:
df = df.loc[df['Year'].isin(years), :]

years

top_ten = df[['Entity', 'Year', cases]].groupby(
    'Entity').mean().sort_values(cases, ascending=False).head(10).index

In [163]:
df[['Entity', 'Year', cases]].groupby(
    'Entity').mean().sort_values(cases, ascending=False).head(10)

                 Year  Malaria cases/100,000 pop. - wef_cm
Entity
Guinea         2011.0                         38569.438988
Uganda         2011.0                         36357.524665
Mozambique     2011.0                         31076.004237
Malawi         2011.0                         29932.948752
Cote d'Ivoire  2011.0                         29759.793556
Burkina Faso   2011.0                         29571.440191
Timor          2010.5                         28240.823532
Liberia        2011.0                         28218.723210
Ghana          2011.0                         27375.343590
Sierra Leone   2011.0                         26634.032022

In [171]:
df.loc[df['Entity'] == "Cote d'Ivoire", [cases, 'Year']]

      Malaria cases/100,000 pop. - wef_cm  Year
4571                                  NaN  2006
4572                                  NaN  2007
4573                          2348.257794  2008
4574                         37994.540541  2009
4575                         37161.959972  2010
4576                         37161.959972  2011
4577                         38557.188502  2012
4578                         34429.065126  2013
4579                         20665.582984  2014
4580                                  NaN  2015
4581                                  NaN  2016

In [166]:
top_ten

df = df.loc[df['Entity'].isin(top_ten), :]

data = []
for i, row in df.iterrows():
    data.append({
        'Entity': row['Entity'],
        'Year': row['Year'],
        cases: row[cases],
    })



len(data)

109